### import libary

In [1]:
import pandas as pd

#### Creating Series :

- list
- tuple
- dictionary
- Array

### list

In [2]:
# Creating a Series using a list

l1 =[10,20,30,40,50,60,70]

l1

[10, 20, 30, 40, 50, 60, 70]

#### example

In [4]:
# a1 =pd.Series(l1)

# a1

#### dictionary

In [ ]:
# Creating a Series using a dictionary

# d = {1:"One",2:"two",3:"three",4:"four"}

# d

In [ ]:
# example

# s2=pd.Series(d)

# s2

### Rename

rename->index
replace->values

#### syntax

variable_name.rename({old_index:new_index,old_index:new_index},inplace=True)

In [ ]:

# s4 =s3.rename({2:9})       # Renaming index labels of a Series

# s4

### replace()

#### replace single value

syntax:
    varaible_name.replace(old_vlaue,New_value,inplace=True)

#### replace Multiple values

syntax:
variable_name.replace([old_value1,old_value2,___old_valueN],[New_value1,New_value2,...New_valueN],inplace=True)

In [ ]:
# example

s5=a1.replace(10,"ten")          # Replacing values in a Series

s5

### sort_index()

variable_name.sort_index()         ->ascending

variable_name.sort_index(ascending=False)     ->decending

### sort_values()

In [ ]:
# v3=a1.sort_values(inplace=True)

# v3

In [ ]:
# v4=a1.sort_values(ascending=False,inplace=True)

# v4

### DataFrame()

- A DataFrame is a two-dimensional labeled data structure in pandas.It's similar to a table in a relational database or an Excel spreadsheet.

- A DataFrame consists of multiple Series organized as columns, and each column can hold data of different types.

In [ ]:
# df = pd.DataFrame([[10,20,30],[22,56,78],[4,8,2],[23,67,45]])

# df

### read files

#### read_csv()

In [ ]:
# df2 = pd.read_csv(r"Employee.csv")

# df2

In [ ]:
# df = pd.read_csv(r"C:\Users\Acer\FIREBLAZE\Employee.csv")    # encoding="latin"

# df

### head()

In [ ]:
df.head()

### info()

In [ ]:
# df.info()                    # Getting information about a DataFrame

### describe()