- local variable and global variable
- lambda function
- list comprehension

### local variable and global variable

#### local variable

In [35]:
# example


def hello():
    x=10               #local variable
    
    print(x)
    
hello()     # Calling the 'hello' function

print(x)        # Trying to print 'x' outside the function (This will result in a NameError)
                # This is because 'x' is a local variable and cannot be accessed outside the function

10

NameError: name 'x' is not defined

### global vaiable

In [37]:
m = 10           #global variable

def welcome():
    print(m)        # Accessing the global variable 'm' within the function
    
    
welcome()

print(m)     # Printing the global variable 'm' (This works because 'm' is a global variable)

10
10

### global keyword

In [41]:
# example


def global_k():
    
    global a   # Declaring 'a' as a global variable
    a=20           # Assigning a value of 20 to the global variable 'a'
    print(a)
    
global_k()

print(a)    # Printing the global variable 'a' (This works because 'a' was declared as a global variable)

20
20

In [8]:
###############################################################################

### lambda function

A lambda function is a small anonymous function. A lambda function can take any number of arguments, but can only have one expression.

#### syntax

lambda arguments:expression

#### example

#### lambda function with no arguments

In [10]:
# example


z =lambda :print("Welcome")
z()

Welcome

#### lambda function with one arguments

In [11]:
a1 =lambda x1:x1**2

a1(2)

4

#### lambda function with more than one arguments

In [13]:
# example

a2 = lambda n1,n2:n1*n2


a2(2,4)

8

- map()
- filter()
- reduce()

### map()

The map() function applies a given function to all items in an iterable and returns an iterator with the results.

#### syntax

variable_name = iterable(map(lambda args:expression,iterable))

#### example

In [14]:
l1 =[10,20,30,40,50]


p1 = list(map(lambda t1:t1+2,l1))        #Using map to add 2 to each element in a list

p1

[12, 22, 32, 42, 52]

In [17]:
# l3 =[10,20,30,40,50]


# p3 = list(map(lambda t1:t1[0]==20,l3))

# p3

TypeError: 'int' object is not subscriptable

In [34]:
l3 = [10, 20, 30, 40, 50]

p3 = list(map(lambda t1: t1 == 20, l3))    #Using map to check if each element in a list is equal to 20
l3 = [10, 20, 30, 40, 50]

print(p3)

[False, True, False, False, False]

In [16]:
# example2


l2 =["red","yellow","green","white","orange"]


p2 = list(map(lambda t:t[1]=="e",l2))

p2

[True, True, False, False, False]

### filter()

You can use the filter() function to extract specific characters from a string based on a condition.

#### syntax


variable_name = iterable(filter(lambda args:expression,iterable))

In [21]:

l4 =["red","yellow","green","white","orange"]


p4 = list(filter(lambda t:t[1]=="e",l4))

p4

['red', 'yellow']

### reduce()

This is a function that takes two arguments and returns a single result. It's applied cumulatively to the items of the iterable.

#### syntax

In [24]:
from functools import reduce

In [28]:
# example

v1 =[1,2,3,4,5,6,7,8,9,10]


v2 =reduce(lambda r1,r2:r1+r2,v1)

v2

55

In [29]:
####################################################################################

## list comprehension

- list comprehension is an elegant way to define and create listed based on exsting lists.
- list comprehension is generally more compact and faster than normal functions and loops for creating list.
- list comprehension offers a shorter syntax when you want to create a new list based on the values of an exsting list.

### syntax

Basic syntax -----> [expression for item in iterable]

Using if syntax -----> [expression for item in iterable if condition]

Using if else syntax ----> [expression if condition else statement for item in iterable]

#### without list comprehension

In [31]:
newlist =[] #empty list


old_list =["apple","orange","banana","cherry"]

for i in old_list:
    if "a" in i:
        newlist.append(i)
print(newlist)

['apple', 'orange', 'banana']

#### with list comprehension

[expression for item in iterable if condition]

In [33]:
# example

list1 =["apple","orange","banana","cherry"]


[j for j in list1 if "a" in j]

['apple', 'orange', 'banana']